.main__message{data: {id: "#{message.id}"}}
  .main__message-name
    = message.user.name
  .main__message-time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    .main__message-text
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
