.sidebar
  .sidebar__user
    .sidebar__user-content
      = current_user.name
    .sidebar__icons
      .sidebar__icons__new-group
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'

      .sidebar__icons__edit-user
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'

  .sidebar__group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .sidebar__group-name
          = group.name
        .sidebar__group-message
          メッセージはまだありません
